$bg: #191114;
$over-bg: #2D1F24;
$text: #F2F0F0;
$gradient: linear-gradient(180deg, rgba(25, 17, 20, 0) 25%, rgba(25, 17, 20, 0.75) 64%, #191114 100%);
$shadow-lg: 0.6vw 0.6vw 1.8vw rgba(12, 8, 10, 0.15);

$font-family: 'Lato-Family';
$fonts: ('Lato-Heavy'800) ('Lato-Bold'700) ('Lato-Regular'300);