section.contact.contact_pos#contact
    .container
        .contact__wrap
            .title
                .small-subtitle
                    span Есть вопросы?
                h2.title__text
                    | Напиши мне
                .contact__label
                    | или звони
                .contact__phone
                    | +7 (316) 555-01-16
            .contact__form
                form(name="contact-form" class="contact-form" id="contact-form")
                    input(type="name" class="main-input" maxlength="256" name="name" id="contact-name" placeholder="Как тебя зовут?" required)
                    input(type="email" class="main-input" maxlength="256" name="email" id="contact-email" placeholder="Твой e-mail" required)
                    textarea(class="main-input main-input__mb0" rows="5" name="message" id="contact-message" placeholder="Сообщение" required)
                    button.button.button_form(type="submit")
                        | Отправить