section.features.features_pos#features
    .container
        .features__wrap
            .title
                .small-subtitle
                    span Почему
                h2.title__text
                    | Стоит выбрать меня
            .features__items
                +featureBlock("img/prof.svg", "Профессионализм", "Выпускница London College of Fashion, опыт работы - 8 лет")
                +featureBlock("img/camera.svg", "Оборудование", "Фототехника фирмы Canon и свет от Elinchrom")
                +featureBlock("img/user.svg", "Доверие", "1000+ довольных клиентов из Москвы и области")
                
