footer.footer.footer_pos#footer
    .container
        .footer__wrap
            .footer__author
                | Фотограф Анна Черкесова
            .footer__rights
                | © Все права защищены
            .footer__social
                a(href='https://vk.com').footer__vk.navigation__link Vkontakte 
                a(href='https://instagram.com').navigation__link.footer__inst Instagram