section.gallery.gallery_pos#gallery
    .container
        .gallery__head
            .title
                h2.title__text
                    | Портфолио
            ul.gallery__tabs
                li.gallery__tabs-item.gallery__tabs-item_active
                    | Личные
                li.gallery__tabs-item
                    | Семейные
                li.gallery__tabs-item
                    | Свадебные
                li.gallery__tabs-item
                    | Интерьеры

        //- Личные
        .gallery__content.show
            +galleryImg('./uploads/img_1.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_2.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_3.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_4.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_5.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_6.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_7.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_8.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_9.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_8.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_9.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_3.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_4.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_5.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_6.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_7.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_8.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_9.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_8.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/img_9.jpg', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')

        //- Семейные
        .gallery__content
            +galleryImg('./uploads/temp 1.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 1.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 1.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 1.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 1.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 1.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 1.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 1.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 1.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 1.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 1.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 1.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')

        //- Свадебные
        .gallery__content
            +galleryImg('./uploads/temp 2.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 2.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 2.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')

        //- Интерьеры
        .gallery__content
            +galleryImg('./uploads/temp 3.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 3.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 3.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 3.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 3.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
            +galleryImg('./uploads/temp 3.png', 'Максим Солопов', 'https://instagram.com/mxsolopov', '@mxsolopov', 'Краткое описание фотографии', '2020')
        
        a.back-to-top(title="Наверх" href="#gallery")
            | ↑