header.hero.hero_pos#hero
    .container
        nav.navigation
            a(href='#hero').navigation__logo
                img(src='./img/logo.svg' width='100%')
            ul.navigation__links
                li: a.navigation__link(href='#') Портфолио 
                li: a.navigation__link(href='#') Цены
                li: a.navigation__link(href='#') Контакты
                
        .hero__wrap
            .hero__img-wrap
                .hero__img
                    img(src='img/hero.jpg' alt='hero-img')
                .hero__img
                    img(src='img/hero.jpg' alt='hero-img')
                .hero__img
                    img(src='img/hero.jpg' alt='hero-img')
                .hero__img
                    img(src='img/hero.jpg' alt='hero-img')
            .hero__about
                .hero__subtitle
                    span Фотограф
                .hero__title
                    | Анна<br> Черкесова
                p.hero__descr
                    | Я всегда заморачиваюсь<br> над красотой<br> и деталями. Давайте создадим фотошедевр.
                a(href='#').button.button_rotate
                    | Найми меня
                
