section.prices.prices_pos#prices
    .container
        .prices__wrap
            .title
                .small-subtitle
                    span Сколько стоят
                h2.title__text
                    | Пакеты услуг
            .prices__items
                +priceBlock("img/individual.svg", 'Индивидуальная фотосессия', '2-3 часа фотосъемки, более 500 фотографий, базовая обработка всех фото, авторская обработка 15 фото, бесплатная консультация', '5000 р')
                +priceBlock("img/wedding.svg", 'Свадебная фотосессия', 'До 5 часов фотосъемки, более 1500 фотографий, базовая обработка всех фото, авторская обработка 100 фото, бесплатная консультация', '15000 р')
                +priceBlock("img/family.svg", 'Семейная фотосессия', 'До 3 часов фотосъемки, более 500 фотографий, базовая обработка всех фото, авторская обработка 100 фото, бесплатная консультация', '7000 р')
                