- var lang = 'ru'
- var title = 'Фотограф | Анна Черкесова'
- var keywords = 'фотогораф, фотосессия в Москве, профессиональная фотосессия'
- var description = 'Сайт профессионального фотографа Анны Черкесовой'

- var cssPath = './css/'
- var jsPath = './js/'

- var Bootstrap = false

- var GoogleFonts = false
- var fontName = 'Lato'
- var fontWeight = 'wght@0,300;1,300'
//- Example ital,wght@0,300;1,300
