extends ../layout/start-tmpl

block links
    link(rel='stylesheet', href=cssPath+'style.bundle.css')

block content
   include ../includes/hero.pug
   include ../includes/features.pug
   include ../includes/gallery.pug
   include ../includes/prices.pug
   .modal-bg

block scripts
    script(src=jsPath+'bundle.js')