.contact {

    &_pos {
        margin-top: 10vw;
        padding-top: 3.2vw;

        @media screen and (max-width: 479.98px) {
            margin-top: 16vw;
            padding-top: 10vw;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 479.98px) {
            flex-direction: column;
        }
    }

    &__wrap .title {
        width: 15.7vw;
        position: relative;
        opacity: 0;

        @media screen and (max-width: 1023.98px) {
            width: 19.8vw;
        }

        @media screen and (max-width: 479.98px) {
            width: 100%;
        }
    }

    &__label {
        font-family: Lato, sans-serif;
        font-weight: 400;
        font-size: 1vw;
        line-height: 115%;
        letter-spacing: 0.04em;
        color: $text;
        text-align: right;
        margin-top: 8%;

        @media screen and (max-width: 1023.98px) {
            font-size: 1.7vw;
        }

        @media screen and (max-width: 479.98px) {
            font-size: 3.9vw;
            margin-top: 0;
        }
    }

    &__phone {
        font-family: Lato, sans-serif;
        font-weight: 800;
        font-size: 1.2vw;
        line-height: 115%;
        color: $text;
        text-align: right;
        margin-top: 8%;

        @media screen and (max-width: 1023.98px) {
            font-size: 1.9vw;
        }

        @media screen and (max-width: 479.98px) {
            font-size: 4.44vw;
            margin-top: 4%;
        }
    }

    &__form {
        width: 36.5vw;
        opacity: 0;

        @media screen and (max-width: 1023.98px) {
            width: 45.63vw;
        }

        @media screen and (max-width: 479.98px) {
            width: 100%;
            margin-top: 15vw;
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
    }
}

.main-input {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 1vw;
    color: $text;
    background: none;
    width: 100%;
    border-bottom: 2px solid $text;
    padding: 2%;

    &:nth-child(n+1):nth-child(-n+2) {
        margin-bottom: 4.4vw;

        @media screen and (max-width: 479.98px) {
            margin-bottom: 18vw;
        }
    }

    @media screen and (max-width: 1023.98px) {
        font-size: 1.8vw;
        resize: none;
    }

    @media screen and (max-width: 479.98px) {
        font-size: 3.9vw;
    }
}