.hero {

    &_pos {
        height: 100vh;
        padding: 4vh 0 8vh 0;

        @media screen and (max-width: 1023.98px) {
            height: auto;
            padding-bottom: 0;
        }
    }

    // .hero__wrap

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 12vh;

        @media screen and (max-width: 1023.98px) {
            margin-top: 5.4vw;
        }

        @media screen and (max-width: 479.98px) {
            flex-direction: column;
        }
    }

    // .hero__img-wrap

    &__img-wrap {
        display: flex;
        justify-content: space-between;
        height: 41vw*0.666;
        width: 41vw;
        margin-top: 2%;

        @media screen and (max-width: 479.98px) {
            height: 92vw*0.666;
            width: 92vw;
            margin-top: 10vw;
        }

        &:hover {
            cursor: crosshair;

            .hero__img {
                transform: translateY(0);
            }

        }
    }

    // .hero__img

    &__img {
        overflow: hidden;
        width: 24%;

        &:before {
            content: "";
            display: block;
            width: 105%;
            height: 105%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: $gradient;
        }

        &:nth-child(1),
        &:nth-child(3) {
            transform: translateY(-6%);
            transition: transform 500ms ease;
        }

        &:nth-child(2),
        &:nth-child(4) {
            transform: translateY(6%);
            transition: transform 500ms ease;
        }

        &:nth-child(1)>img {
            object-position: left center;
        }

        &:nth-child(2)>img {
            object-position: 25% center;
        }

        &:nth-child(3)>img {
            object-position: 60% center;
        }

        &:nth-child(4)>img {
            object-position: right center;
        }


    }

    &__img>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        pointer-events: none;
        user-select: none;
    }

    // .hero__about

    &__about {
        width: 39.5vw;

        @media screen and (max-width: 1023.98px) {
            width: 45vw;
        }

        @media screen and (max-width: 479.98px) {
            margin-top: 15.8vw;
        }
    }

    // .hero__subtitle

    &__subtitle {
        display: flex;
        align-items: center;

        span {
            font-weight: 400;
            font-size: 1vw;
            line-height: 115%;
            letter-spacing: 0.04em;
            color: $text;

            @media screen and (max-width: 1023.98px) {
                font-size: 1.7vw;
            }

            @media screen and (max-width: 479.98px) {
                font-size: 3.3vw;
            }
        }

        &::before {
            content: "";
            display: block;
            width: 4%;
            height: 1px;
            background-color: $text;
            margin-right: 2%;

            @media screen and (max-width: 1023.98px) {
                width: 5.6vw;
                margin-right: 3.3vw;
            }
        }
    }

    // .hero__title

    &__title {
        margin-top: 4%;
        font-weight: 800;
        font-size: 4.7vw;
        line-height: 115%;
        color: $text;

        @media screen and (max-width: 1023.98px) {
            font-size: 6.25vw;
        }

        @media screen and (max-width: 479.98px) {
            font-size: 14.4vw;
        }
    }

    // .hero__descr

    &__descr {
        font-weight: 400;
        font-size: 1.17vw;
        line-height: 130%;
        color: $text;
        margin-left: 22.5%;
        margin-top: 9%;

        @media screen and (max-width: 1023.98px) {
            font-size: 1.875vw;
            margin: 0;
            margin-top: 4%;
        }

        @media screen and (max-width: 479.98px) {
            font-size: 3.9vw;
            width: 58.3vw;
            margin-top: 7vw;
            margin-left: 27.8vw;
        }

        br:nth-child(1) {
            display: none;

            @media screen and (max-width: 479.98px) {
                display: inline;
            }
        }

        br:nth-child(2) {
            @media screen and (max-width: 479.98px) {
                display: none;
            }
        }
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .navigation__logo

    &__logo {
        width: 3vw;

        @media screen and (max-width: 1023.98px) {
            width: 6.25vw;
        }

        @media screen and (max-width: 479.98px) {
            width: 11vw;
        }
    }

    // .navigation__links

    &__links {
        display: flex;
        justify-content: space-between;
        width: 27.5vw;

        @media screen and (max-width: 1023.98px) {
            width: 45%;
        }

        @media screen and (max-width: 479.98px) {
            width: 68%;
        }

    }

    // .navigation__link

    &__link {
        font-weight: 400;
        font-size: 0.9vw;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $text;
        padding: 1vw 0;

        &:active {
            position: relative;
            top: 2px;
        }

        @media screen and (max-width: 1023.98px) {
            font-size: 1.5vw;
        }

        @media screen and (max-width: 479.98px) {
            font-size: 2.5vw;
        }

        &::after {
            content: "";
            display: block;
            margin-top: 3%;
            width: 0%;
            height: 1px;
            background-color: $text;
            transition: all 0.5s ease-out;
            opacity: 0;

            .navigation__links>li:hover & {
                width: 100%;
                opacity: 1;

                @media screen and (max-width: 1023.98px) {
                    width: 0;
                    opacity: 0;
                }
            }
        }
    }
}

.button {
    display: inline-flex;
    font-weight: 800;
    font-size: 0.9vw;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 5px 0;
    color: $text;

    &_pos {
        margin-top: 3.3vw;
    }

    @media screen and (max-width: 1023.98px) {
        font-size: 1.7vw;
    }

    @media screen and (max-width: 479.98px) {
        font-size: 3.3vw;
    }

    &:active {
        letter-spacing: 0.08em;
    }

    &::after {
        display: inline-block;
        padding-left: 8%;
        content: "\0279E";
        transition: transform 0.3s ease-out;
    }

    &:hover {
        &::after {
            transform: translateX(16%);

            @media screen and (max-width: 1023.98px) {
                transform: translateX(0);
            }
        }
    }
}

.button_rotate {
    transform: rotate(90deg) translate(70%, 90%);

    @media screen and (max-width: 1023.98px) {
        transform: rotate(0deg) translate(-3%, 100%);
    }

    @media screen and (max-width: 479.98px) {
        transform: rotate(90deg) translate(0, 0);
        margin-top: 11vw;
    }

    &:active {
        letter-spacing: 0.04em;
    }
}