.prices {

    &_pos {
        margin-top: 10vw;
        padding-top: 3vw;

        @media screen and (max-width: 1023.98px) {
            margin-top: 17.5vw;
            padding: 0;
        }

        @media screen and (max-width: 479.98px) {
            margin-top: 40vw;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1023.98px) {
            flex-direction: column;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        width: 60.75%;

        @media screen and (max-width: 1023.98px) {
            width: 100%;
            margin-top: 4.2vw;
        }

        @media screen and (max-width: 479.98px) {
            margin-top: 14vw;
        }
    }

    .price-item {
        position: relative;
        background: $over-bg;
        box-shadow: $shadow-lg;
        height: 11.7vw;
        padding: 5% 3.2% 5% 6.6%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.8vw;

        @media screen and (max-width: 1023.98px) {
            height: 20vw;
            margin-bottom: 1.5vw;
        }

        @media screen and (max-width: 479.98px) {
            height: 88.3vw;
            padding: 9% 7% 9% 7%;
            flex-direction: column;
            margin-bottom: 2.8vw;
        }

        &__inner {
            display: flex;
            justify-content: space-between;
            width: 61%;

            @media screen and (max-width: 479.98px) {
                width: 100%;
                flex-direction: column;
            }
        }

        &__img {
            width: 15%;

            @media screen and (max-width: 479.98px) {
                width: 25%;
            }
        }

        &__text {
            width: 76%;

            @media screen and (max-width: 479.98px) {
                width: 100%;
                margin-top: 10%;
            }
        }

        &__descr {
            margin-top: 3%;

            @media screen and (max-width: 479.98px) {
                margin-top: 5%;
            }
        }

        &__count {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;

            @media screen and (max-width: 479.98px) {
                position: absolute;
                top: 15%;
                right: 7%;
            }
        }

        &__sum {
            display: flex;
            font-family: Lato, sans-serif;
            font-weight: 700;
            font-size: 2.6vw;
            line-height: 115%;
            color: $text;

            @media screen and (max-width: 1023.98px) {
                font-size: 4.6vw;
            }

            @media screen and (max-width: 479.98px) {
                font-size: 10vw;
            }

        }

        &__sum span {
            font-size: 1.5vw;
            transform: translate(-25%, 12%);

            @media screen and (max-width: 1023.98px) {
                font-size: 2.5vw;
            }

            @media screen and (max-width: 479.98px) {
                font-size: 5.6vw;
            }
        }
    }

}